<h1 style="font-weight:bold; color:black; text-align:center; margin-top:50px" >  Shipping  </h1>

<div id="accordion" style="margin-top:50px">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-dark" style="background-color:black; font-weight:bold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How long does shipping take?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <h5>5 - 14 Business Days</h5> 
                Please Note:
                These orders are estimates, some orders may arrive after the above estimate due to reasons beyond our control.
                Issues in customs or with postal service, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, weather, natural disasters, fire, epidemics or failure of public or private telecommunications networks.
                Please allow up to 14 business days before emailing.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-dark collapsed" style="background-color:black; font-weight:bold" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Do you ship to my country?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                We ship all supplements worldwide.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-dark collapsed" style="background-color:black; font-weight:bold" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Returns
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                When you receive your item, you must check it as soon as possible before use. You have 14 days to return your order under our 14 day return period policy, which starts on the day after you received the item. All items must be returned unused and in the original packaging as they were in when received by you. 
            </div>
        </div>
    </div>
</div>