@model FitnessShopSystem.Models.Deliveries.DeliveryFormModel

@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-7">
            <h2 class="heading-margin text-center"><strong>Shipping address</strong></h2>

            <form method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="CustomerFirstName" class="form-control" placeholder="First name">
                        <span asp-validation-for="CustomerFirstName" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="CustomerLastName" class="form-control" placeholder="Last name">
                        <span asp-validation-for="CustomerLastName" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Company" class="form-control" placeholder="Company(optional)">
                    <span asp-validation-for="Company" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Address" class="form-control" placeholder="Address">
                    <span asp-validation-for="Address" class="small text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <input asp-for="PostalCode" class="form-control" placeholder="Postal code">
                        <span asp-validation-for="PostalCode" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="City" class="form-control" placeholder="City">
                        <span asp-validation-for="City" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Country" class="form-control" placeholder="Country">
                    <span asp-validation-for="Country" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Phone" class="form-control" placeholder="Phone">
                    <span asp-validation-for="Phone" class="small text-danger"></span>
                </div>
                <input class="btn btn-dark offset-5" style="background-color:black; font-weight:bold; position:center" type="submit" value="Confirm order" />
            </form>
        </div>
    </div>
</div>