<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Supplements Shop </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="font-weight:bold; " asp-area="" asp-controller="Home" asp-action="Index">Fitness Shop</a>
                <button class="navbar-toggler offset-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <a class="btn btn-dark" style="background-color:black; font-weight:bold;" asp-area="" asp-controller="Products" asp-action="All">Supplements</a>
                        <a class="btn btn-dark" style="background-color:black; font-weight:bold; margin-left:20px" asp-area="" asp-controller="Programs" asp-action="All">Training Programs</a>
                        <a class="btn btn-dark" style="background-color:black; font-weight:bold; margin-left:20px" asp-area="" asp-controller="Home" asp-action="Chat">Discusion</a>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style=" background-color:black">
        <div class="container" style="color:white; margin-left:100px">
            &copy; @DateTime.UtcNow.Year - FitnessShopSystem
            <a asp-controller="Deliveries" asp-action="Information" style="color:white; margin-left:50px;">Shipping</a>
            <a asp-controller="Home" asp-action="Contact" style="color:white; margin-left:50px;">Contact</a>
        </div> 
      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
