@using Microsoft.AspNetCore.Identity
@using FitnessShopSystem.Services.Manufacturers
@using FitnessShopSystem.Services.Instructors

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IManufacturerService Manufacturers
@inject IInstructorService Instructors

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsManufacturer = Manufacturers.IsManufacturer(userId);
        var userIsInstructor = Instructors.IsInstructor(userId);


        @if (userIsManufacturer && userIsInstructor)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" style="background-color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>
                        Account
                    </strong>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Mine">My Products</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Programs" asp-action="Mine">My Programs</a>
                </div>
            </div>
        }
        else if (userIsManufacturer)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" style="background-color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>
                        Account
                    </strong>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Mine">My Products</a>
                </div>
            </div>
        }
        else if (userIsInstructor)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" style="background-color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>
                        Account
                    </strong>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Programs" asp-action="Mine">My Programs</a>
                </div>
            </div>
        }
        else
        {
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" style="background-color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>
                        Join Us
                    </strong>
                </button>
                <div class="dropdown-menu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manufactures" asp-action="Create">Become manufacturer</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="Create">Become Instructor</a>
                </div>
            </div>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" style="color:black"><strong>Logout</strong></button>
            </form>
        </li>
    }
    else
    {
        <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle table-hover" style="background-color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <strong> Account </strong>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </div>
    }
</ul>
