@model IndexViewModel

@{
    ViewData["Title"] = "Fitness Shop";
}

@if (!Model.Products.Any())
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the best supplements shop in the world</h1>
            <p class="lead">Sorry, currently there are no products in our website.</p>
        </div>
    </div>
}

<div class="row" style="position:absolute;left:0px; right:0px">
    <video style="position:relative; min-width:100%; min-height: 100%" autoplay muted loop id="myVideo">
        <source src="~/video.mp4" type="video/mp4">
    </video>
</div>

<div class="row" style="padding-top:850px">

    @if (Model.Products.Any())
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card mb-3">
                        <a asp-controller="Products" asp-action="Buy" asp-route-id="@product.Id"><img class="card-img-top" src="@product.ImageUrl" alt="Card image cap"></a>
                    </div>
                </div>
            }
        </div>
    }
    <div class="container col-12" style="margin-bottom:100px"; position:relative; left: 0px; right: 0px">
        <div class="row" left:0px; right:0px">
            <video style="width:600px;height: 600px" autoplay muted loop id="myVideo">
                <source src="~/videoTwo.mp4" type="video/mp4">
            </video>
            <h2 style="width:250px; margin-top:200px; margin-left:100px; color:black;font-weight:bold; text-align: center">Add you product
            and help people become beasts!</h2> 
        </div>

  
        <div class="offset-5" style=" margin-top: 50px">
            <a><img style="width:110%; height:110%;" src="~/imageThree.jpg" alt="Card image cap"></a>
        </div>

    </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="row">
        <h1 style="font-weight:bold; color:black; text-align:center">Join our team of proffesional trainers and help people tranform their lives</h1>
    </div>
    <div class="row offset-6" style="padding-top:20px; margin-bottom:100px">
        <a asp-controller="Instructors" asp-action="Create" type="button" class="btn btn-dark" style="font-weight:bold; background-color:black">Join Us</a>
    </div>
</div>
