@model IndexViewModel

@{
    ViewData["Title"] = "Fitness Shop";
}

<div class="row" style="position:absolute;left:0px; right:0px">
    <video style="position:relative; min-width:100%; min-height: 100%" autoplay muted loop id="myVideo">
        <source src="~/video.mp4" type="video/mp4">
    </video>
</div>

<div class="row" style="padding-top:850px">

    @if (Model.Products.Any())
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card mb-3">
                        <a asp-controller="Products" asp-action="Buy" asp-route-id="@product.Id"><img class="card-img-top" src="@product.ImageUrl" alt="Card image cap"></a>
                    </div>
                </div>
            }
        </div>
    }

    <div class="container col-12" style="" ; position:relative; left: 0px; right: 0px">
        <div class="row" left:0px; right:0px">
            <video style="width: 700px; height: 700px;" autoplay muted loop id="myVideo">
                <source src="~/videoTwo.mp4" type="video/mp4">
            </video>
            <div>
                <h2 style="width:350px; padding-top:200px; padding-left:100px;color:black;font-weight:bold; text-align: center">
                    ADD YOUR PRODUCTS AND HELP PEOPLE BECOME BEASTS !
                </h2>
                <a asp-controller="Products" asp-action="Add" type="button" class="btn btn-dark" style="font-weight:bold; background-color:black; margin-left:170px">Get Started</a>

            </div>
        </div>
        <div class="row">
            <h2 style="width: 320px; margin-right: 100px"><strong>“Don't count the days. Make the days count </strong> - Muhammad Ali</h2>
            <h2 style="width: 300px; margin-right:100px"><strong>“Hard work beats talent when talent doesn’t work hard</strong> – Tim Notke</h2>
            <h2 style="width: 320px"><strong>“The Best Way To Get Started Is To Quit Talking And Begin Doing</strong> – Walt Disney</h2>
        </div>

        <div class="row" left:0px; right:0px">
            <div>
                <h2 style="width:350px; padding-top:200px; padding-left:100px;color:black;font-weight:bold; text-align: center">
                    ADD YOUR OWN WORKOUTS NOW !
                </h2>
                <a asp-controller="Programs" asp-action="Add" type="button" class="btn btn-dark" style="font-weight: bold; background-color: black; margin-left: 170px">Add NOW</a>
            </div>
            <div class="offset-5" style="position:absolute; padding-top:100px; margin-bottom:100px">
                <a><img style="width:100%; height:100%;padding-bottom:50px" src="~/imageThree.jpg" alt="Card image cap"></a>
            </div>

        </div>

    </div>
</div>

<div class="row" style="margin-top:200px">
    <div class="row">
        <h1 style="font-weight:bold; color:black; text-align:center">Join our team of proffesional trainers and help people tranform their lives</h1>
    </div>
    <div class="row offset-6" style="padding-top:20px; margin-bottom:100px">
        <a asp-controller="Home" asp-action="Join" type="button" class="btn btn-dark" style="font-weight:bold; background-color:black">Join Us</a>
    </div>


</div>
