    <div class="card-group">
        <div class="card" style="margin-right:50px">
            <a asp-controller="Manufactures" asp-action="Create">
                <img class="card-img-top" src="~/imageFive.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title" style="color:black; font-weight:bold; text-align:center">Become Seller</h5>
            </div>
        </div>
        <div class="card">
            <a asp-controller="Instructors" asp-action="Create"><img class="card-img-top" src="~/imageFour.jpg" alt="Card image cap"></a>

            <div class="card-body">
                <h5 class="card-title" style="color:black; font-weight:bold; text-align:center">Become Trainer</h5>
            </div>
        </div>
    </div>
